// Colors
$carcasa: rgb(57, 109, 109);
$btnNums: rgb(150, 186, 173);
$btnOp: rgb(38, 155, 157);
$btnResult: rgb(242, 199, 26);
$btnReset: rgb(165, 69, 69);
$LCD: rgb(223, 230, 206);

// mixins
@mixin boto ($colorBoto) {
    border: 0 solid darken($colorBoto, 5%);
    box-shadow: inset 1px 2px 3px lighten($colorBoto, 20%),
        inset -1px -2px 3px darken($colorBoto, 20%),
        2px 2px 3px 1px darken($carcasa, 10%);
    color: lighten($colorBoto, 50%);
    box-shadow: offset;

    &:hover {
        background: lighten($colorBoto, 10%);
    }

    &:active {
        // background: darken($colorBoto, 10%);
        box-shadow: 0 0 0 0;
        transform: scale(.9);
    }
}

// reset
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.carcasa {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 10px;
    background-color: $carcasa;
    border: 2px solid darken($carcasa, 5%);
    box-shadow: inset 0 2px 0 lighten($carcasa, 20%);
    background-blend-mode: overlay;
    background-size: cover;

    p {
        padding: 0;
        color: darken($LCD, 40%);
        font-weight: 600;
        font-size: 2em;
        text-align: right;
        border: 0;
        text-shadow: 0;
        box-shadow: 0;
        margin: 0;
    }

    h2 {
        color: darken($carcasa, 20%);
        font-weight: 600;
        font-size: 1.6rem;
        text-align: center;
        text-shadow: 0 1px 0 lighten($carcasa, 30%);
        margin: .5rem 0 1.5rem 0;
    }

    .pantallaLCD {
        height: 60px;
        background-color: $LCD;
        border: 1px solid darken($LCD, 20%);
        text-shadow: 0 -1px 0 lighten($LCD, 10%);
        box-shadow: inset 0 0 10px darken($LCD, 20%);

        #LCD {
            display: flex;
            align-items: center;
            overflow: hidden;
        }
    }

    .firma {
        margin-top: 1rem;
        text-align: right;
        font-size: 12px;
        font-weight: 400;
        color: darken($carcasa, 20%);
    }

    /* Botones */
    .botonCalcu {
        width: 23%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        background: $btnNums;
        margin: 3px 1%;
        border-radius: 8px;
        font-weight: 500;
        cursor: pointer;

        // transition: all .2s ease-in-out;
        @include boto($btnNums);
    }

    .botonOp {
        background-color: $btnOp;
        transition: all .2s ease-in-out;

        @include boto($btnOp);
    }

    .botonRojo {
        background-color: $btnReset;
        transition: all .2s ease-in-out;

        @include boto($btnReset);
    }

    .botonResult {
        background-color: $btnResult;
        transition: all .2s ease-in-out;

        @include boto($btnResult);
    }
}