*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  border: 0;
}

.carcasa {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border-radius: 10px;
  background-color: darkorange;
  border: 2px solid #e67e00;
  -webkit-box-shadow: inset 0 2px 0 #ffba66;
          box-shadow: inset 0 2px 0 #ffba66;
  /* Botones */
}

.carcasa p {
  padding: 0;
  color: #849a4e;
  font-weight: 600;
  font-size: 2em;
}

.carcasa h2 {
  color: #995400;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 0 1px 0 #ffd199;
  margin: .5rem 0 1rem 0;
}

.carcasa .pantallaLCD {
  height: 60px;
  background-color: #dfe6ce;
  border: 1px solid #b3c48a;
  text-shadow: 0 -1px 0 #f5f7f0;
  -webkit-box-shadow: inset 0 0 10px #b3c48a;
          box-shadow: inset 0 0 10px #b3c48a;
}

.carcasa .pantallaLCD #LCD {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.carcasa .pantallaLCD #LCD p {
  text-align: right;
}

.carcasa .firma {
  margin-top: 1rem;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  color: #995400;
}

.carcasa .botonCalcu {
  width: 23%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  background: #2c9d2c;
  margin: 3px 1%;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid #268926;
  text-shadow: 0 -1px 0 #217521;
  -webkit-box-shadow: inset 0 1px 0 #5dd25d;
          box-shadow: inset 0 1px 0 #5dd25d;
  color: #d5f3d5;
}

.carcasa .botonCalcu:hover {
  background: #37c537;
}

.carcasa .botonCalcu:active {
  background: #217521;
}

.carcasa .botonOp {
  background-color: #4e9bd5;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 2px solid #398fd0;
  text-shadow: 0 -1px 0 #2e82c2;
  -webkit-box-shadow: inset 0 1px 0 #a0cae9;
          box-shadow: inset 0 1px 0 #a0cae9;
  color: white;
}

.carcasa .botonOp:hover {
  background: #77b2df;
}

.carcasa .botonOp:active {
  background: #2e82c2;
}

.carcasa .botonRojo {
  background-color: #d54e4e;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 2px solid #d03939;
  text-shadow: 0 -1px 0 #c22e2e;
  -webkit-box-shadow: inset 0 1px 0 #e9a0a0;
          box-shadow: inset 0 1px 0 #e9a0a0;
  color: white;
}

.carcasa .botonRojo:hover {
  background: #df7777;
}

.carcasa .botonRojo:active {
  background: #c22e2e;
}

.carcasa .botonResult {
  background-color: #f2c71a;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 2px solid #e5ba0d;
  text-shadow: 0 -1px 0 #cda70c;
  -webkit-box-shadow: inset 0 1px 0 #f7df7b;
          box-shadow: inset 0 1px 0 #f7df7b;
  color: white;
}

.carcasa .botonResult:hover {
  background: #f5d34a;
}

.carcasa .botonResult:active {
  background: #cda70c;
}
